*{
    margin:0;
    padding:0;
}
#container{
    width:300px;
    height:200px;
    border:1px solid #666;
    padding:20px;
    margin:200px auto;
    font-size:14px;
    font-family:微软雅黑;
    font-weight:bold;
}
#main{
    width:100%;
    height:100px;
    background-color:black;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    margin-bottom:20px;
}
#main:hover{
    transition:all 1.5s;
    background-color:#f60;
    color:blue;
}
button{
    display:block;
    margin-top:15px;
    background-color:darkturquoise;
    color:white;
    cursor:pointer;
    border:0;
    width:100px;
    height:30px;
    text-align:center;
    line-height:20px;
    margin-left:100px;
}
.ul{
    width:200px;
    height:auto;
    list-style-position:inside;
    padding:10px;
    margin:50px auto;
    border:2px solid #f60;
}